.ingredientsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  composes: pr-2 from global;
  list-style: none;
}

.fixedHeight {
  height: 620px;
}

.scrollHeight {
  max-height: 440px;
}

.title {
  align-self: center;

  margin: auto;

  composes: text text_type_main-medium from global;
}

.bun {
  composes: pl-8  pr-4 from global;
}
