.nav {
  composes: mr-15 from global;

  max-width: 320px;
  width: 100%;
}

.list {
  composes: mb-20 from global;

  margin-top: 0;
  padding: 0;
  list-style: none;
}

.link {
  composes: text text_type_main-medium text_color_inactive pt-4 pb-4 from global;

  display: block;

  text-decoration: none;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.button {
  width: 100%;

  text-align: left;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.activeLink {
  color: #ffffff;
}

.info {
  composes: text text_type_main-default text_color_inactive from global;

  opacity: 0.4;
}

