.item {
  position: relative;

  cursor: pointer;
}

.image {
  display: block;

  margin: 0 auto;
  margin-bottom: 4px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #F2F2F3;
}

.name {
  display: block;

  text-align: center;
  color: #F2F2F3;
}

.link {
  text-decoration: none;
}
