.item {
  position: relative;

  cursor: pointer;
}

.image {
  display: block;

  margin: 0 auto;
  margin-bottom: 4px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #F2F2F3;
}

.price {
  composes: text  text_type_digits-default  mr-2 from global;
}

.name {
  composes: text text_type_main-default from global;

  display: block;

  text-align: center;
  color: #F2F2F3;
}

.link {
  text-decoration: none;
}

.ingredient {
  composes: pl-4  pr-4  mb-1 from global;
}
