.item {
  position: relative;

  cursor: pointer;
}

.image {
  display: block;

  margin: 0 auto;
  margin-bottom: 4px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  display: block;

  text-align: center;
}