.link {
  display: flex;
  align-items: center;

  text-decoration: none;

  composes: text text_type_main-default text_color_inactive p-4  pl-5  pr-5 from global;

  transition: all 0.3s ease;

  svg {
    fill: #8585AD;
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus {
    color: #ffffff;

    svg {
      fill: #ffffff;
    }
  }
}

.text {
  composes: ml-2 from global;
}

.active {
  color: #ffffff;

  svg {
    fill: #ffffff;
  }
}
