html {
  box-sizing: border-box;
}

body {
  position: relative;

  min-width: 320px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.scroll {
  overflow-y: scroll;

  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #2f2f37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585ad;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.text_centered {
  text-align: center;
}
