.content {
  max-width: 600px;
  width: 100%;
}

.tabs {
  display: flex;

  > div {
    min-width: auto;
    width: 100%;
  }
}

.ingredientsWrapper {
  max-height: 716px;

  overflow-y: scroll;

  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #2F2F37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 40px 24px;

  margin: 0;
  margin-bottom: 40px;

  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.item {
  position: relative;

  cursor: pointer;
}

.image {
  display: block;

  margin: 0 auto;
  margin-bottom: 4px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  display: block;

  text-align: center;
}